@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* Lading Page */

button {
    font-family: "Creepster", system-ui;
}

html,
body {
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 100%;
}

.body-vermelho {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(to top, #6C0000, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100vh;
}

.logo {
    width: 25%;
    margin-top: 100px;
}

.landing-page-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    height: 35%;
}

.landing-page-div button {
    width: 60%;
    height: 20%;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    margin-top: 27px;
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 3vh;
}

.botao {
    background-color: #BB0000;
    width: 60%;
    height: 20%;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    margin-top: 27px;
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 3vh;
}

/* CADASTRO */

.div-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-top: 10vh;
}

.div-cadastro h1 {
    font-family: "Creepster", system-ui;
    font-size: 10vw;
    background: linear-gradient(to bottom, #FF0000, #3D3D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 12vh;
}

.div-cadastro label {
    font-family: "Creepster", system-ui;
    font-size: 4vh;
    background: linear-gradient(to bottom, #FF0000, #3D3D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-top: 45px;
}

.div-cadastro input {
    width: 100%;
    height: 6vh;
    border-radius: 25px;
    background-color: #E6E6E6;
    border: none;
    padding-left: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
}

.inputs  {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: baseline;
    flex-direction: column;
}

.cadastrar  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20vh;
}

.botao-cadastrar {
    background-color: #BB0000;
    width: 60%;
    height: 6vh;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 3vh;
    margin-top: 6vh;
}

/* AVATAR */

.avatares {
    width: 70%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 50px;
    margin-bottom: 20%;
}

.avatar {
    width: 30vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.body-vermelho-avatar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(to top, #6C0000, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
    height: fit-content;
}

/* HOME */

.body-vermelho-home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(to top, #6C0000, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    height: 100vh;
}

.body-vermelho-home header {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15%;
    padding-top: 3%;
}

.body-vermelho-home header img {
    width: auto;
    height: 80%;
}

.div-home {
    width: 85%;
    height: fit-content;
    margin-top: 10%;
}

.div-home h1 {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    background: linear-gradient(to bottom, #FF0000, #3D3D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 12vh;
}