@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* Lading Page */

* {
    font-family: "Creepster", system-ui;
    font-weight: 100;
}

html {
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 100%;
}

.body-vermelho {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(to top, #6C0000, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
}

.logo {
    width: 25%;
    margin-top: 100px;
}

.landing-page-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    height: 35%;
    margin-top: 15%;
    color: #000;
}

.landing-page-div button {
    width: 60%;
    height: 6vh;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    margin-top: 27px;
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 5vw;
}

.botao {
    background-color: #BB0000;
    width: 60%;
    height: 20%;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    margin-top: 27px;
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 3vh;
    color: #000;
}

/* CADASTRO */

.div-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-top: 10vh;
}

.div-cadastro h1 {
    font-family: "Creepster", system-ui;
    font-size: 10vw;
    background: linear-gradient(to bottom, #FF0000, #3D3D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 12vh;
}

.div-cadastro label {
    font-family: "Creepster", system-ui;
    font-size: 4vh;
    background: linear-gradient(to bottom, #FF0000, #3D3D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-top: 45px;
}

.div-cadastro input {
    width: 100%;
    height: 6vh;
    border-radius: 25px;
    background-color: #E6E6E6;
    border: none;
    padding-left: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    align-self: center;
    font-size: 5vw;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: baseline;
    flex-direction: column;
}

.cadastrar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20vh;
}

.botao-cadastrar {
    background-color: #BB0000;
    width: 60%;
    height: 6vh;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 3vh;
    margin-top: 6vh;
    color: #000;
}

/* AVATAR */

.avatares {
    width: 70%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 50px;
    margin-bottom: 20%;
}

/* AAA */

.avatar {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.body-vermelho-avatar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(to top, #6C0000, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
}

/* HOME */

.body-vermelho-home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, #6C0000, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10%;
    margin-right: 10%;
}

header img {
    width: auto;
    height: 80%;
    cursor: pointer;
    z-index: 10;
}

.div-home {
    width: 85%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-home h1 {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    background: linear-gradient(to bottom, #FF0000, #3D3D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 12vh;
}

.div-home h2 {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    background: linear-gradient(to bottom, #FF0000, #3D3D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 5%;
}

.div-pontuacao {
    background: linear-gradient(to right, #870000, #210000);
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Creepster", system-ui;
    font-size: 12vw;
    color: black;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

/* HOME - QUIZ */

.div-home h3 {
    font-family: "Creepster", system-ui;
    font-size: 7vw;
    background: #FF0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    margin-top: 5vh;
}

.botao-vermelho {
    width: 80%;
    height: 6vh;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    margin-top: 15%;
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 6vw;
    background-color: #BB0000;
    color: #000;
}

/* MENU */

.dropdown-menu {
    display: none;
    position: absolute;
    background: linear-gradient(to right, #870000, #210000);
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 75vw;
    border-radius: 25px;
    bottom: 35%;
    right: 3%;

}

.dropdown-menu a {
    padding: 20px 20px 20px 50px;
    text-decoration: none;
    display: flex;
    color: #ffffff;
    font-size: 6vw;
    height: 10vh;
    align-items: center;
    justify-content: left;
}

.dropdown-menu a:hover {
    background-color: #000000;
}

/* Último link sem borda inferior */
.dropdown-menu a:last-child {
    border-bottom: none;
}

@media (max-width: 400px) and (max-height: 400px) {
    .dropdown-menu {
        bottom: 30%;
        width: 75vw;
    }

    .dropdown-menu a {
        padding: 20px 20px 20px 20px;
    }
}

@media screen and (max-height: 476px) {
    .dropdown-menu {
        bottom: 10%;
        width: 75vw;
    }

    .dropdown-menu a {
        padding: 20px 20px 20px 20px;
    }
}

@media screen and (min-height: 1000px) {
    .dropdown-menu {
        bottom: 40%;
        width: 75vw;
    }

    .dropdown-menu a {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 414px) and (max-height: 896px) {
    .dropdown-menu {
        bottom: 30%;
        width: 75vw;
    }

    .dropdown-menu a {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 200px) and (max-height: 300px) {
    .dropdown-menu {
        bottom: 15%;
        width: 75vw;
        border-radius: 10px;
    }

    .dropdown-menu a {
        padding: 20px 20px 20px 20px;
    }
}

/* QUIZ */

.body-roxo-home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, #78008C, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
}

.pergunta {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 12vh;
    filter: brightness(1.5);
    color: #520060;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-quiz {
    width: 85%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.grid-button {
    padding: 20px;
    border: none;
    border-radius: 25px;
    background-color: #78008C;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 12vh;
    display: flex;
    width: 40vw;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.contagem-pontos {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.contagem {
    font-family: "Creepster", system-ui;
    font-size: 6vw;
    color: #520060;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
    filter: brightness(1.5);
}

.contagem-verde {
    font-family: "Creepster", system-ui;
    font-size: 6vw;
    color: #12E400;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
}

.contagem-vermelho {
    font-family: "Creepster", system-ui;
    font-size: 6vw;
    color: #FF0000;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
    filter: brightness(1.5);
}

.pontos-grandes {
    font-family: "Creepster", system-ui;
    font-size: 14vw;
    color: #520060;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    filter: brightness(1.5);
    margin: 0;
}

.total {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    color: #520060;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    filter: brightness(1.5);
    margin: 0;
}

.divisoria {
    height: 6vh;
}

.botao-voltar {
    margin-top: 5vh;
    width: 40vw;
    height: fit-content;
    border-radius: 15px;
    background: #78008C;
    color: #A9BA45;
    border: 1px solid #000000;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 5%;
}

.botao-voltar img {
    height: 6vh;
    transform: rotate(270deg);
}

/* QUIZ ERRO */

.pergunta img {
    width: 25%;
    filter: brightness(0.75);
    margin-left: 2%;
}

/* PUZZLE */

.body-laranja-home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, #F66602, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
}

.div-home-laranja {
    width: 85%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-home-laranja h1 {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    background: #F66602;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 12vh;
}

.div-home-laranja h3 {
    font-family: "Creepster", system-ui;
    font-size: 6vw;
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    margin-top: 5vh;
}

.div-home-laranja h4 {
    font-family: "Creepster", system-ui;
    font-size: 6vw;
    background: #F66602;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    text-align: start;
    margin: 0;
    margin-top: 2vh;
    width: 84%;
}

.botao-voltar-laranja {
    margin-top: 5vh;
    width: 40vw;
    height: fit-content;
    border-radius: 15px;
    background: #F66602;
    color: #A9BA45;
    border: 1px solid #000000;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 5%;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

.botao-voltar-laranja img {
    height: 6vh;
    transform: rotate(270deg);
}

/* PONTOS EXTRAS */

.div-pontos-extras {
    width: 85%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-pontos-extras {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    filter: brightness(1.5);
    color: #12E400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.pontos-grandes-verde {
    font-family: "Creepster", system-ui;
    font-size: 14vw;
    color: #12E400;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    filter: brightness(1.5);
    margin: 0;
}

.total-verde {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    color: #12E400;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    filter: brightness(1.5);
    margin: 0;
}

.botao-voltar-preto {
    margin-top: 5vh;
    width: 40vw;
    height: fit-content;
    border-radius: 15px;
    background: #000;
    color: #A9BA45;
    border: 1px solid #000000;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 5%;
}

.botao-voltar-preto img {
    height: 6vh;
    transform: rotate(270deg);
}

.body-verde-home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, #12E400, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
}

/* ACUSAÇÃO - ASSASSINO */

.hora-acusacoes {
    font-family: "Creepster", system-ui;
    font-size: 9vw;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    filter: brightness(1.5);
    color: #520060;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* FINAL QUIZ */

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

/* RANKING */

.retangulos-lista {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
}

.retangulo {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #78008C;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 12vh;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: flex-start;
    align-items: center;
}

.retangulo div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
}

.retangulo h2 {
    white-space: nowrap;
    /* Não permitir quebra de linha */
    overflow: hidden;
    /* Ocultar o texto que ultrapassar */
    text-overflow: ellipsis;
    /* Adicionar reticências (...) */
}

.retangulo img {
    height: 75%;
}

/* HOME PÓS-INVESTIGAÇÃO */

.botao-vermelho-homepos {
    width: 100%;
    height: 7vh;
    border-radius: 20px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    margin-top: 15%;
    border: none;
    font-family: "Creepster", system-ui;
    font-size: 6vw;
    background-color: #BB0000;
    margin-bottom: 15%;
}